<div ng-if="company" style="width:50%;max-width:300px;position:absolute;right:0;top:0px" class="panel panel-default">
  <div class="panel-body">
    <h4>{{company.name}}</h4>
    <p>
      Unsere Werte sind:
    </p>
    <ul>
      <li ng-repeat="value in company.values">{{value.name}}</li>
    </ul>
    <p>
      Ihr findet uns bei:
    </p>
    <ul>
      <li ng-repeat="location in company.locations">
        <a href="" ng-click="centerOn(location.coords)">{{location.coords.latitude | number : 2}}, {{location.coords.longitude | number : 2}}</a>
      </li>
    </ul>
  </div>
</div>
